.boton-ver{
	background-color: #4CAF50;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 4px;
	font-size: 12px;
	display: inline-block;
	transition: 0.3s;
}

.boton-ver:hover{
	background-color: #45a049;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}